@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #d6c6b1;
  margin: auto;
}

nav {
  background-color: #153448; 
  
}

.navbar-toggler {
  background-color: #d6c8b3;
}

.navbar-toggler:active {
  box-shadow: 0px 2px 0px black;
  position: relative;
  top: 2px;
}

li {
  background-color: #d6c8b3;
  border-radius: 5px;
  margin: 5px 5px;
  box-shadow: black 0px 2px 0px;
  text-shadow: 0px 0px 1px black;
}

li a {
  font-family: "Poppins", sans-serif;
}

li:active {
  box-shadow: 0px 2px 0px black;
  position: relative;
  top: 2px;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.div1 {
  margin-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  height: 300px;
}
.div2 {
  margin-top: 10%;
  margin-bottom: 10%;
  height: 300px;
}

.div3 {
  margin-left: 10%;
  display: inline-block;
}

.div2 img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: black solid 3px;
  box-shadow: 0px 0px 10px black;
  margin-left: 14%;
}

.div3 img {
  margin: auto;
}

#instagram {
  color: #153448;
  font-size: 40px;
  margin-right: 1%;
}

#gmail {
  color: #153448;
  font-size: 40px;
  margin-right: 1%;
}

#github {
  color: #153448;
  font-size: 40px;
  margin-right: 1%;
}

#linkedin {
  color: #153448;
  font-size: 40px;
}

.div3 i:hover {
  transform: scale(0.9);
}

p {
  font-family: "open sans", sans-serif;
  font-weight: 700;
}

.div1 p {
  margin-bottom: 0;
}


@media screen and (max-width: 768px) {
  .div2 {
    margin: 0 20%;
  }

  .div3 {
    margin: 20% 43%;
  }
}
